%header
  .header-container
    %p.header-container__title The Best Cup
    %a.header-container__use{:href => "#"} 使い方
    %p.header-container__user
      = current_user.name
      = link_to edit_user_path(current_user) do
        = fa_icon 'cog', class: 'icon'